:root {
    --color-menus: #222341; /* Azul marino para los menus y footer */
    --color-cajasTxt: #9fa0a3; /* Gris para las cajas de texto */
    --color-inputs: #868788; /* Fondo claro */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.containerLogin 
{
    background-color: var(--color-cajasTxt);
    width: 45%;
}
.containerLogin h2{
    height: 10px;
}
.user-icon {
    width: 120px; /* Ajusta el tamaño según lo necesites */
    height: auto; /* Mantiene la relación de aspecto */
    display: block; /* Asegura que el icono se muestre en una nueva línea */
    margin: 0 auto; /* Centra el icono */
}
