:root {
    --color-menus: #222341; /* Azul marino para los menus y footer */
    --color-cajasTxt: #9fa0a3; /* Gris para las cajas de texto */
    --color-inputs: #868788; /* Fondo claro */
    --color-aumento: #179d7c;
    --color-menos: #7375a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Estilo del body */
  body {
    background-color: #d3d3d3; /* Fondo gris claro */
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Evita scroll horizontal */
  }

  .login-link {
    margin-top: 15px;
    display: block;
    color: #555;
    text-decoration: none;
  }

  .login-link:hover {
    text-decoration: underline;
  }

  .product-img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    margin: auto;
    display: block;
    border-radius: 5px;
}

   /* Estilo del nav */
   nav {
    background-color: var(--color-menus);
   /* color: white;*/
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 4; /* Nav por encima de todo */
  }

  footer{
    background-color: var(--color-menus);
    color: aliceblue;
  }

  .btnMenos
  {
    background-color: var(--color-menos);
    color: white;
  }

  .btnMenos:hover
  {
    background-color: #5d5f88;
    color: white;
  }

  .btnMas
  {
    background-color: var(--color-aumento);
    color: white;
  }

  .btnMas:hover
  {
    background-color:#106a53;
    color: white;
  }
