/*Menu Desplegable*/
#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #222341;
    left: -200px;
    transition: all 500ms linear;
}

#sidebar.active{
    left: 0;
}

#sidebar ul li{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
}

.logo{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
}

#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 1px solid;
}

.nav_link--inside:hover{
    background: #9fa0a3;
}

.nav_link{
    color: rgb(255, 255, 255);
    display: block;
    padding: 5px;
    margin:20px;
    text-decoration: none;
}
